.social-links a{
  color:white;
}
.site-bg{
  background: url(./images/wood-g6c78627e7_1920.jpg) no-repeat fixed center;
}
#bio{
  border-radius: 10px;
}
@media(max-width:768px){
  .each-project h5{
    font-size:small;
  }
  .each-project p{
    font-size: small;
  }
}
@media(max-width:425px){
  .each-project h5{
    font-size:smaller;
  }
  .each-project p{
    font-size: smaller;
  }
}
@media(min-width:768px){
  .each-project h5{
    font-size:large;
  }
  .each-project p{
    font-size: large;
  }
}
@media(min-width:992px){
  .each-project h5{
    font-size:larger;
  }
  .each-project p{
    font-size: larger;
  }
}